body {
  font-family: 'Montserrat'
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

img {
  float: right;
  display: inline-block;
  margin: 1.5%;
  height: 81px;
  width: 50px;
}

h1 {
  display: inline-block;
  margin: 2.5%;
}

h2 {
  display: inline;
  float: left;
}

footer {
  font-size: 10px;
  width: 100%;
  text-align: center;
  height: 50px;
  position: fixed;
  bottom: 0;
  padding-right: 20px;
}

ul {
  list-style-type: none;
  width; 20%
}

li {
  margin: .5%;

}

a:hover {
  color:#88B04B;
}

#banner {
  font-size: 20px;

}

.side-nav {

  width: 20%;
  display: inline;

  -moz-animation-name: side-nav;
      -moz-animation-iteration-count: 1;
      -moz-animation-timing-function: ease;
      -moz-animation-duration: 0.6s;

      -webkit-animation-name: side-nav;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: ease;
      -webkit-animation-duration: 0.6s;

      animation-name: side-nav;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-duration: 0.6s;
}



/* SIDEBAR ANIMATION */

@-moz-keyframes side-nav {
    100% {
        -moz-transform: translateX(0);
    }
   0% {
        -webkit-transform: translateX(-250px);
    }
}

@-webkit-keyframes side-nav {
    100% {
        -webkit-transform: translateX(0);
    }
    0% {
        -webkit-transform: translateX(-250px);
    }
}
@keyframes side-nav {
    100% {
        transform: translateX(0);
    }
    0% {
        transform: translateX(-250px);
    }
}



/*

img:hover {
  background: url('img/jare-face-small-green.png');
}

*/
